@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');


:root {
}

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #fffcff;
    background-repeat: repeat;
    background-position: center top;
}

header {
    background-color: #fffcff;
    padding: 20px;
    border-bottom: #e5e5e5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 11%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90%;
    margin: auto;
  }
  
  .header-nav-left {
    margin-right: auto;
  }
  
  .header-nav-right {
    margin-left: auto;
  }
  
  .header-logo {
    text-align: center;
  }
  
  .header-logo a {
    text-decoration: none;
    color: #c14abe;
    font-family: 'Fuggles', sans-serif;
    font-size: 76px;
  }
  
  .header-logo span {
    display: block;
    margin-top: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav li a {
    color: #333;
    text-decoration: none;
    font-size: 17px;
  }
  
  nav ul li a:hover, :active  {
    color: #c14abe;
    text-decoration: none;
    font-size: 17px;
  }
  
  .contact-btn {
    background-color: transparent;
    border: 1px solid #fff;
    border-color: #333;
    border-radius: 3px;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .contact-btn:hover {
    border: 1px solid #c14abe;
    background-color: #c14abe;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    border-color: #c14abe;
    text-decoration: none;
  }
  
  .container{
    background-color: #fffcff;
    margin-top: 5%;
  }

  footer {
    display: flex;
    flex-direction: column;
    background-color: #261f26;
    padding: 20px;
    bottom: 0px;
    width: 100%;
	flex-wrap: wrap;
  }
  
  .footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .f-top {
    margin-top: 1%;
    margin-bottom: 2%;
  }

  .f-bottom{
    margin-bottom: 2%;
  }

.footer-col{
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
 }

 .footer-col h4{
	font-size: 18px;
    padding: 0;
    margin: 0 0 2% 0;
	color: #fffcff;
	font-weight: 500;
}

.compagny a{
	font-size: 16px;
	text-transform: capitalize;
	color: #fffcff;
	text-decoration: none;
	font-weight: 300;
    display: block;
	transition: all 0.3s ease;
}
.schedule span, .adress-location span, .adress-location a{
	font-size: 16px;
	text-transform: capitalize;
	color: #fffcff;
	text-decoration: none;
	font-weight: 300;
    display: block;
}

.schedule {
    width: 60%;
}
  
  .day {
    text-align: left;
  }
  
  .time {
    float: right;
    font-weight: bold;
  }

.adress-location a:hover{
    color: #c14abe;
	font-size: 16px;
	text-transform: capitalize;
}

.compagny a:hover{
    color: #c14abe;
	padding-left: 8px;
}
  .social-media{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1%;

  }

  .social-media a{
    color: #c14abe;
    width: 50px;
    height: 40px;
    border-radius: 3px;
    background-color: #fffcff;
    text-align: center;
    font-size: 22px;
    padding-top: 4px;
    margin-right: 5px;

  }

  #menuIcon, .dropdownMenu{
    display: none;
  }

  .social-media a:hover{
    opacity: 0.7;
    transition: all 0.3s ease;;
  }
  
  .copyright {
    font-size: 13px;
    color: #fffcff;
    margin: 0;
  }

  .footer-copyright{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
	flex-wrap: wrap;
  }

  .footer-copyright-left, .footer-copyright-right{
    display: flex;
    flex-direction: row;
  }

  .impressum, .location{
    font-size: 13px;
    color: #fffcff;
    margin: 0 0 0 5px;
  }

  .location{
    text-decoration: none;
    color: #c14abe;
  }

  .impressum:hover, .location:hover {
    color: #c14abe;
    font-size: 13px;
    text-decoration: underline;
  }

  @media only screen and (max-width: 1050px){
    .footer-container{
        width: 60%;
        flex-wrap: inherit;
    }

    .footer-container a, .footer-container span{
        font-size: 15px;
    }

    .footer-container h4{
        font-size: 17px;
    }

    .social-media a{
      width: 40px;
      height: 30px;
  
    }

    .header-logo a{
        font-size: 60px;
    }

    .header-nav-left a{
        font-size: 15px;
    }

    .header-nav-right a{
        width: 50%;
        height: 50%;
        font-size: 14px;
    }
    
.schedule {
    width: 50%;
}
  
  }
    @media(max-width: 550px){

        .header-container{
            width: 100%;
        }
    .header-logo a{
        font-size: 70px;
    }

    .header-nav-left, .header-nav-right {
        display: none;
    }

    #menuIcon{
        display: inline;
        font-size: 20px;
        color: #c14abe;
        font-weight: 300;
    }

    #menuIcon:hover + .dropdownMenu {
        display: block;
    }

    .dropdownMenu {
        position: absolute;
        top: 60%;
        right: 5%;
        z-index: 1;
        background-color: #c14abe;
        border-radius: 3px;
        width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdownMenu li {
        display: block;
        padding: 10px;
        text-align: right;
    }

    .dropdownMenu li a {
        display: block;
        color: #fffcff;
        text-decoration: none;
    }

      .footer-container{
        width: 90%;
        margin-bottom: 10%;
        flex-direction: column;
    }

    .footer-col{
        margin-bottom: 6%;
    }

    .footer-container a, .footer-container span{
        font-size: 14px;
    }

    .footer-container h4{
        font-size: 16px;
    }

    .social-media a{
      width: 40px;
      height: 30px;
  
    }

    .f-bottom{
        margin-bottom: 1%;
    }

    .footer-copyright{
        width: 80%;
    }
    
.schedule {
    width: 70%;
}

    
  }
