@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');


:root {
}

body {
    background-color: #f5f5f5;
    background-repeat: repeat;
    background-position: center top;
}

header {
    background-color: #fffcff;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 10%;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 90%;
    margin: auto;
  }
  
  .header-nav-left {
    margin-right: auto;
  }
  
  .header-nav-right {
    margin-left: auto;
  }
  
  .header-logo {
    text-align: center;
  }
  
  .header-logo a {
    text-decoration: none;
    color: #c14abe;
    font-family: 'Fuggles', sans-serif;
    font-size: 76px;
  }
  
  .header-logo span {
    display: block;
    margin-top: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav li a {
    color: #333;
    text-decoration: none;
    font-size: 17px;
  }
  
  nav ul li a:hover {
    color: #c14abe;
    text-decoration: none;
    font-size: 17px;
  }
  
  .contact-btn {
    background-color: transparent;
    border: 1px solid #fff;
    border-color: #333;
    border-radius: 3px;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .contact-btn:hover {
    border: 1px solid #c14abe;
    background-color: #c14abe;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    border-color: #c14abe;
    text-decoration: none;
  }
  
  .container{
    margin-top: 5%;
  }

  footer {
    background-color: #261f26;
    padding: 20px;
    text-align: center;
  }
  
  .footer-container {
    width: 90%;
    margin: 0 auto;
  }
  
  .copyright {
    font-size: 14px;
    color: #fffcff;
    margin: 0;
  }

  .footer-copyright{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .footer-copyright-left, .footer-copyright-right{
    display: flex;
    flex-direction: row;
  }

  .impressum, .location{
    font-size: 14px;
    color: #fffcff;
    margin: 0 0 0 5px;
  }

  .location{
    text-decoration: none;
    color: #c14abe;
  }

  .impressum:hover, .location:hover {
    color: #c14abe;
    font-size: 14px;
    text-decoration: underline;
  }

