@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Blumenfee</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main.css" />
</head>
<body class="body">
  
    <header>
        <div class="header-container">
            <nav class="header-nav-left"><ul>
                      <li><a href="#">Über uns</a></li>
                      <li><a href="#">Leistungen</a></li>
                      <li><a href="#">Galerie</a></li>
                  </ul></nav>
            <div class="header-logo">
                <a href="/">
                     <span>Blumenfee</span>
                </a>
            </div>
            <nav class="header-nav-right"><ul>
                    <li><a class="contact-btn" href="#">Kontakt</a></li>
            </ul></nav>
        </div>
    </header>
    
    <main>
        <section>
            
        </section>
    </main>
    
    

</body>
</html>