@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Blumenfee</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/main.css" />
</head>
<body class="body">
  
    <header>
        <div class="header-container">
            <nav class="header-nav-left"><ul>
                      <li><a href="#">Über uns</a></li>
                      <li><a href="#">Leistungen</a></li>
                      <li><a href="#">Galerie</a></li>
                  </ul></nav>
            <div class="header-logo">
                <a href="/">
                     <span>Blumenfee</span>
                </a>
            </div>
            <span class="fa fa-bars" id="menuIcon"></span>
            <ul class="dropdownMenu">
                <li><a href="#">Über uns</a></li>
                <li><a href="#">Leistungen</a></li>
                <li><a href="#">Galerie</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
            <nav class="header-nav-right"><ul>
                    <li><a class="contact-btn" href="#">Kontakt</a></li>
            </ul></nav>
        </div>
    </header>
    
    <main >
        <section>
            <div class="container">
                <img src="https://via.placeholder.com/800x800" alt="Logo">
                <h1>Welcome to my webpage</h1>
                <p>This is some centered text that appears in the middle of the page.</p>
            </div>
        </section>
    </main>
    
    <footer>
        <section class="footer-container f-top">
                <div class="footer-col">
                    <h4>Standort</h4>
                    <div class="adress-location">
                        <span>Auguststraße 40</span>
                        <span>D-66450 Bexbach</span>
                        <span><strong>01715 705 305</strong></span>
                        <a href="#">info@die-blumenfee.de</a>
  	 			    </div>
  	 		    </div>
  	 		    <div class="footer-col">
  	 			     <h4>Unternehmen</h4>
  	 			     <div class="compagny">
  	 			         <a href="#">Über uns</a>
  	 			         <a href="#">Leistungen</a>
  	 			         <a href="#">Galerie</a>
  	 			         <a href="#">Kontakt</a>
  	 		         </div>
  	 		   </div>
  	 	       <div class="footer-col">
  	 		         <h4>Zeitpläne</h4>
  	 			     <div class="schedule">
  	 			       	<span class="day">Mon — Fri<span class="time">9am — 5pm</span></span>
  	 			        <span class="day">Samstag<span class="time">8am — 12pm</span></span>
  	 			     	<span class="day">Sontag<span class="time">10am — 1pm</span></span>
  	 		         </div>
  	 	       </div>
  	 	       <div class="footer-col">
  	 		         <h4>Folgen Sie uns</h4>
  	 			     <div class="social-media">
  	 			         <a href="https://www.facebook.com/bfweddings" target="_blank">
  	 			             <i class="fa fa-facebook"></i></a>
  	 			         <a href="https://ok.ru/blumenfee" target="_blank">
  	 			             <i class="fa fa-odnoklassniki"></i></a>
                    </div>
  	 	       </div>
        </section>
        <section class="footer-container f-bottom">
            <div class="footer-copyright">
                <div class="footer-copyright-left">
                    <p class="copyright">&copy; 2023 Blumenfee</p>
                    <a class="impressum" href="#">Impressum</a>
                </div>
                <div class="footer-copyright-right">
                    <p class="copyright">Made with <span style="color:red;">&hearts;</span> in</p>
                    <a class="location" href="https://www.saarbruecken.de/" target="_blank">Saarbrücken</a>
                </div>
            </div>
        </section>
    </footer>
    
</body>
</html>