@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Blumenfee</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main.css" />
</head>
<body class="body">
  
    <header>
        <div class="header-container">
            <nav class="header-nav-left"><ul>
                      <li><a href="#">Über uns</a></li>
                      <li><a href="#">Leistungen</a></li>
                      <li><a href="#">Galerie</a></li>
                  </ul></nav>
            <div class="header-logo">
                <a href="/">
                     <span>Blumenfee</span>
                </a>
            </div>
            <nav class="header-nav-right"><ul>
                    <li><a class="contact-btn" href="#">Kontakt</a></li>
            </ul></nav>
        </div>
    </header>
    
    <main >
        <section>
            <div class="container">
                <img src="https://via.placeholder.com/800x800" alt="Logo">
                <h1>Welcome to my webpage</h1>
                <p>This is some centered text that appears in the middle of the page.</p>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="footer-container">
            <div class="footer-copyright">
                <div class="footer-copyright-left">
                    <p class="copyright">&copy; 2023 Blumenfee</p>
                    <a class="impressum" href="#">Impressum</a>
                </div>
                <div class="footer-copyright-right">
                    <p class="copyright">Made with <span style="color:red;">&hearts;</span> in</p>
                    <a class="location" href="#">Saarbrücken</a>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>